[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected
[submodule "third_party/bgfx.cmake"]
	path = third_party/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest
[submodule "third_party/glm"]
  path = third_party/glm
  url = https://github.com/g-truc/glm
